img {
    border-radius: 5%;
}

.header {
    font-size: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2%;
}

.abubaker-photo {
    width: 10%;
}

.besiktas-logo {
    width: 1%;
}

.body {
    margin-left: 4.5%;
    width: 90%;
    font-size: 20px;
    border: white 6px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    border-radius: 1%;
}

.best-player {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-bottom: 5%;
    margin-top: 3%;
}

.necip-gif {
    width: 100%;
}

.bjk-match {
    width: 80%;
    margin-bottom: 20px;
}

.foot {
    width: 30%;
    margin-top: 3%;
    text-align: center;
    border: white 6px solid;
    margin-left: 35%;
}